/* Selector universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */
body {
    background-color: #e6edd9;
    color: white;
}

/* Selector de clase */

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000000;
}

.img {
    width: 100px;
    border-radius: 5px;
    justify-items: center;
}

.encabezado-articulo {
    padding: 10px;
    text-align: center;
    background-color: rgb(82, 153, 87);
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
}

.encabezado-aside {
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(89, 161, 81);
    color: white;
    margin: 1em 2em;
}

.menu-aside {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25px;
}

.lista-aside {
    padding: 10px;
}

.lista-aside li {
    display: list-item;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 20px;
    list-style: square;
    color: #f1ecea;
}

/* Selector ID */

#contenedor {
    width: 900px;
    height: 50px;
    color: #dee0b7;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado {
    width: 15%;
    background-color: #749946;
    margin: 1em;
    border-radius: 5px;
    padding: 0 365px;
}

#menu {
    height: 65%;
    background-color: #dbdccd;
    margin: 1em;
    border-radius: 5px;
}

#contenido {
    height: auto;
    width: 58%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#fueraSeccion {
    height: 75%;
    width: 35%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#pie {
    height: 45%;
    background-color: #494e3c;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

#pie h4 {
    padding: 5px;
    font-size: 30px;
}

/* Selector de etiqueta */

ul {
    text-align: center;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px, 30px;
    margin: 3em;
}

li a:hover {
    color: crimson;
    text-decoration: none;
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {

    nav,
    .row {
        flex-direction: column;
    }

    body {
        background-color: #434430;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        align-items: center;
        margin: 2px;
    }

    .encabezado-aside {
        text-align: center;
        width: 100%;
        margin-left: 0em;
    }

    #encabezado {
        width: auto;
        padding: 0;
    }
}