/* Estilos CSS en el archivo externo styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}



.header {
    position: relative;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

.header::before {
    content: "";
    background-image: url('/img/schrecksee-2534484_1280.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: -1;
}



#fueraSeccion {
    background-color: #a3dcce;
    height: 75%;
    width: 30%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.lista-aside {
    padding: 5px;
}

#contenido {
    height: auto;
    width: 60%;
    background-color: #8bcbb4;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: justify;
}

.lista-aside li {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 20px;
    list-style: none;
    color: #000000;
    text-decoration: none;
}

nav {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}

.contenedor {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}

h1 {
    color: #000000;
    margin: 15px;
    padding: 40px;
}

h2 {
    color: #000000;
    margin: 25px;
}

p {
    line-height: 1.5;
    margin: 30px;
}

#footerfotos {
    height: auto;
    width: 100%;
    background-color: #8bcbb4;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {

    nav,
    .row {
        flex-direction: column;
    }

    body {
        background-color: #434430;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        align-items: center;
        margin: 2px;
    }

    .encabezado-aside {
        text-align: center;
        width: 100%;
        margin-left: 0em;
    }

    #encabezado {
        width: auto;
        padding: 0;
    }

    #footerfotos {
        text-align: center;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
}