/* Selector universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */
body {
    background-color: #f1ecea;
}

/* Selector de clase */

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5px;
    padding: 5px 25px;
    color: #ffffff;
}

.img {
    border-radius: 5px;
    justify-items: center;
}

.encabezado-articulo {
    padding: 5px;
    text-align: center;
    color: #ffffff;
    margin: 0.5em;
    border-radius: 5px;
}

.encabezado-aside {
    padding: 10px 10px;
    text-align: center;
    background-color: #50352a;
    color: white;
    margin: 0.2em;
}

.menu-aside {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25px;
}

.lista-aside {
    padding: 10px;
}

.lista-aside li {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 0;
    list-style: square;
    color: #ffffff;
}

/* Selector ID */

#contenedor {
    width: 1000px;
    height: auto;
    color: #3a251c;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado {
    width: 96%;
    background-color:  #50352a;
    margin: 1em;
    border-radius: 5px;
    padding: 5px;
}

#menu {
    height: 200%;
    width: 95%;
    padding: 10px;
    background-color: #b46424;
    margin: 1em;
    border-radius: 5px;
    text-decoration: none;
}

#contenido {
    height: auto;
    width: 60%;
    background-color: #50352a;
    margin: 0.2em;
    display: inline-block;
    border-radius: 5px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

#fueraSeccion {
    background-color: #b58c7c;
    height: 75%;
    width: auto;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#pie {
    height: 50%;
    background-color: #3a251c;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

#pie h4 {
    padding: 5px;
    font-size: 30px;
}

/* Selector de etiqueta */

ul {
    text-align: center;
    padding: 1px;
}

li {
    display: inline;
    padding: 10px, 30px;
    margin: 0.2em;
}

li a:hover {
    color: crimson;
    text-decoration: none;
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {

    nav,
    .row {
        flex-direction: column;
    }

    body {
        background-color: #434430;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        align-items: center;
        margin: 2px;
    }

    .encabezado-aside {
        text-align: center;
        width: 100%;
        margin-left: 0em;
    }

    #encabezado {
        width: auto;
        padding: 0;
    }
}